.background {
	-fx-background-color: #b8dbef;
}

.settings-icon {
	-fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 1), 10, 0.0, 0, 2);
	-fx-background-image: url("ic_settings_white.png");
}

.settings-icon:hover {
	-fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 1), 15, 0.0, 0, 2);
}

.settings-icon:pressed, .settings-icon:default:hover:pressed {
	-fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 1), 5, 0.0, 0, 1);
}

.transparent {
	-fx-background-color: null;
}

.white-background {
	-fx-background-color: #fbfbfb;
	-fx-border-width: 2px;
	-fx-border-color: #383838;
}

.header {
	-fx-background-color: #004293;
}

.label {
	-fx-font-size: 14pt;
	-fx-font-family: "Museo Sans Rounded 700";
	-fx-text-fill: #323232;
	-fx-opacity: 1;
}

.label-details {
	-fx-font-size: 12pt;
	-fx-font-family: "Museo Sans Rounded 200";
	-fx-text-fill: #3b00ff;
	-fx-opacity: 1;
}
.label-bright {
	-fx-font-size: 14pt;
	-fx-font-family: "Museo Sans Rounded 700";
	-fx-text-fill: #0000a0;
	-fx-opacity: 1;
}

.label-header {
	-fx-font-size: 14pt;
	-fx-font-family: "Museo Sans Rounded 700";
	-fx-text-fill: #ffffff;
	-fx-opacity: 1;
}

.label-new {
	-fx-font-size: 14pt;
	-fx-font-family: "Museo Sans Rounded 700";
	-fx-text-fill: #00777d;
	-fx-opacity: 1;
}

.header-book {
	-fx-font-size: 20pt;
	-fx-font-family: "Museo Sans Rounded 700";
	-fx-text-fill: #ffffff;
	-fx-opacity: 1;
}

.update-table-view {
	-fx-background-color: #fbfbfb;
	-fx-border-width: 2px;
	-fx-border-color: #383838;
	-fx-padding: 5;
	-fx-background-radius: 2;
	-fx-effect: null;
}

.update-table-view:hover {
	-fx-effect: null;
}

.table-view .column-header-background {
	-fx-background-color: transparent;
}

.table-view .column-header, .table-view .filler {
	-fx-size: 35;
	-fx-border-width: 0 0 1 0;
	-fx-background-color: transparent;
	-fx-border-color: black;
	-fx-border-insets: 0 10 1 0;
}

.table-view .column-header .label {
	-fx-text-fill: #1d1d1d;
	-fx-alignment: center-left;
	-fx-opacity: 1;
	-fx-font-size: 11pt;
	-fx-font-family: Museo Sans Rounded 700;
}

.table-view:focused .table-row-cell:filled:focused:selected {
	-fx-background-color: -fx-focus-color;
}

.split-pane:horizontal>.split-pane-divider {
	-fx-border-color: transparent #1d1d1d transparent #1d1d1d;
	-fx-background-color: transparent, derive(#1d1d1d, 20%);
}

.split-pane {
	-fx-padding: 1 0 0 0;
}

.menu-bar {
	-fx-background-color: derive(#1d1d1d, 20%);
}

.context-menu {
	-fx-background-color: derive(#1d1d1d, 50%);
}

.menu-bar .label {
	-fx-font-size: 14pt;
	-fx-font-family: "MuseoSansRounded-300";
	-fx-text-fill: white;
	-fx-opacity: 0.9;
}

.menu .left-container {
	-fx-background-color: black;
}

.text-field {
	-fx-background-color: null;
	-fx-text-fill: #05018a;
	-fx-prompt-text-fill: #3A3A3A;
	-fx-effect: null;
}

.text-field:hover {
	-fx-background-color: null;
	-fx-text-fill: #05018a;
	-fx-prompt-text-fill: #3A3A3A;
	-fx-effect: null;
}

.search-field {
	-fx-background-color: #FBFBFB;
	-fx-text-fill: #05018a;
	-fx-border-width: 2px;
	-fx-border-color: #383838;
	-fx-prompt-text-fill: #3A3A3A;
	-fx-effect: null;
}

.password-field {
	-fx-background-color: #FAFAFA;
	-fx-text-fill: #1A1A1A;
	-fx-prompt-text-fill: #6A6A6A;
	-fx-background-radius: 10 10 10 10;
}

.combo-box {
	-fx-background-color: #CACACA;
	-fx-background-radius: 5 5 5 5;
	-fx-font-size: 11pt;
	-fx-font-family: "MuseoSansRounded-300";
	-fx-text-fill: white;
	-fx-border-color: #212121;
	-fx-border-radius: 5 5 5 5;
	-fx-border-width: 2px;
	-fx-background-insets: 1px;
	-fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.5), 10, 0.0, 0, 2);
}

.combo-box:hover {
	-fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.5), 18, 0.0, 0, 2);
}

.combo-box:pressed {
	-fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.5), 5, 0.0, 0, 2);
}

.scroll-bar {
	-fx-background-color: #FFFFFF;
}

.scroll-bar>.thumb {
	-fx-background-color: #5A5A5A;
	/*-fx-background-insets: 1, 2, 3;*/
	-fx-background-insets: 2, 3, 4;
	/*-fx-background-radius: 0.416667em, 0.333333em, 0.25em; */
	/* 5, 4,3 */
	-fx-background-radius: 2;
}

.scroll-bar>.increment-button, .scroll-bar>.decrement-button {
	-fx-background-color: #FFFFFF;
}

.scroll-bar>.increment-button:hover, .scroll-bar>.decrement-button:hover
	{
	-fx-background-color: #d2d2d2;
}

.scroll-bar>.increment-button:pressed, .scroll-bar>.decrement-button:pressed
	{
	-fx-background-color: #5A5A5A;
}

.button {
	-fx-background-color: #00c4a6;
	-fx-background-radius: 5 5 5 5;
	-fx-text-fill: #1A1A1A;
	-fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.6), 10, 0.0, 0, 2);
}

.button:hover {
	-fx-background-color: #009d86;
	-fx-background-radius: 5 5 5 5;
	-fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.6), 15, 0.0, 0, 3);
}

.button:pressed, .button:default:hover:pressed {
	-fx-background-color: #009d86;
	-fx-background-radius: 5 5 5 5;
	-fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.4), 5, 0.0, 0, 1);
}

.search-button {
	-fx-background-color: null;
	-fx-background-radius: 0;
	-fx-text-fill: #1A1A1A;
	-fx-effect: null;
}

.search-button:hover {
	-fx-background-color: rgba(0, 0, 0, 0.2);
	-fx-background-radius: 0;
	-fx-effect: null;
}

.search-button:pressed, .search-button:default:hover:pressed {
	-fx-background-color: rgba(0, 0, 0, 0.35);
	-fx-background-radius: 0;
	-fx-effect: null;
}

.tab-divider {
	-fx-background-color: #6c6c6c;
}

.tab-background {
	-fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.6), 10, 0.0, 0, 1);
}

.tab-button {
	-fx-padding: 8 15 15 15;
	-fx-background-insets: 0, 0 0 5 0, 0 0 6 0, 0 0 7 0;
	-fx-background-radius: 0;
	-fx-background-color: linear-gradient(from 0% 93% to 0% 100%, #8c8c8c 0%, #8c8c8c 100%),
		radial-gradient(center 50% 50%, radius 100%, #dcdcdc, #dcdcdc);
}

.tab-button:hover {
	-fx-background-color: linear-gradient(from 0% 93% to 0% 100%, #8c8c8c 0%, #8c8c8c 100%),
		radial-gradient(center 50% 50%, radius 100%, #acacac, #acacac);
}

.tab-button:selected {
	-fx-background-color: linear-gradient(from 0% 93% to 0% 100%, #0080c0 0%, #0080c0 100%),
		radial-gradient(center 50% 50%, radius 100%, #dcdcdc, #dcdcdc);
}

.tab-button:selected:hover {
	-fx-background-color: linear-gradient(from 0% 93% to 0% 100%, #0080c0 0%, #0080c0 100%),
		radial-gradient(center 50% 50%, radius 100%, #acacac, #acacac);
}

.tab-button:pressed, .tab-button:default:hover:pressed {
	-fx-background-color: linear-gradient(from 0% 93% to 0% 100%, #7c7c7c 0%, #7c7c7c 100%),
		radial-gradient(center 50% 50%, radius 100%, #9c9c9c, #9c9c9c);
}

.tab-button:pressed:selected, .tab-button:selected:hover:pressed {
	-fx-background-color: linear-gradient(from 0% 93% to 0% 100%, #006393 0%, #006393 100%),
		radial-gradient(center 50% 50%, radius 100%, #9c9c9c, #9c9c9c);
}